/MANIFEST
/MANIFEST.bak
/MANIFEST.SKIP
/META.*
/MYMETA.*
/Makefile
/Makefile.old
/README
/blib/
/pm_to_blib
/Distar
*~
*#
.#*
/Catalyst-Plugin-ConfigLoader-*/
/Catalyst-Plugin-ConfigLoader-*.tar.gz
/cover_db/
/_eumm/
